streamlit==0.74.1
opencv-python==4.4.0.42
numpy==1.16.6
pillow==8.1.0
pyyaml==5.3.1
setuptools==51.1.1
progress==1.5
matplotlib==3.3.3
insightface==0.1.5
torch==1.4.0
albumentations==0.4.6
gdown==3.11.0
pyyaml==5.3.1
tqdm==4.48.0
progress==1.5
pycocotools==2.0.2
mxnet-cu101==1.7.0

